
*,*::after,*::before{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 2vw, 16px);
  background-color: #efefef;
  overflow-x: hidden;
  z-index: 1000;

}
/*=============HEADER=============*/

#head {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FF6A00;
  width: 100%;
  justify-content: space-between;
  padding: clamp(5px, 2vw, 20px);
  flex-wrap: wrap;
  position: relative;
  z-index: 11;
}
#head a {
  text-decoration: none;
}
h1 {
  color: white;
  font-size: clamp(18px, 3vw, 32px);
  margin-left: clamp(10px, 1vw, 60px);
}

/*===============Menu===============*/

#menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-items: center;
   margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: clamp(1.5rem,3vw,4rem);
}

#menu ul li {
  font-size: clamp(15px, 3vw, 22px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease;
  color: white;
  position: relative;
}
#menu ul p{
  font-size: 15px;
  padding-top: 0.4rem;
}
#menu a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu ul span{
  color:white;
  background-color: rgb(59, 56, 56);
  padding: 0.2em 0.4em;
  font-size: 13px;
  position: absolute;
  left: 100%;
  bottom: 50%;
  transition: none;
  border: 1px solid white;
  visibility: hidden;
  transition: visibility 0s ;
  pointer-events: none;
}
#menu ul li a:hover {
  transform: scale(1.3);
}
#menu li:hover .span{
  visibility: visible;
  transition-delay: 1s;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  gap: 5em;
}
.phone-numbers{
  display: flex;
  flex-direction: row;
}
.phone-numbers i{
  color: white;
  font-size: 2em;
  margin-right: 0.2em;
}
.phone-numbers p{
  color: white;
  font-weight: bold;
  font-size: clamp(8px, 10vw, 16px);
}
/*============Input search========*/
#search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchInput {
  border: none;
  width: clamp(120px, 20vw, 800px);
  padding: clamp(8px, 1.5vw, 10px);
  font-size: clamp(14px, 2vw, 20px);
  border-radius: 5px;
  border: none;
  margin-left: 15%;
}
 .glass{
  display: none;
  width: max-content;
  color: white;
  font-size: 35px;
} 
#glass {
  appearance: none;
  outline: none;
  pointer-events: auto;
}

 .smallSearch{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;

  }
  .smallSearch input{
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
/*======Categories button - Dropdown categories & subcategories=======*/
nav{
  width: 100%;
  
}
nav ul{
  list-style-type: none;
}
.barMenu::before,
.barMenu::after,
.barMenu input{
 content: '';
 width: 50px;
 height: 7px;
 background-color: white;
 border-radius: 999px;
 transition: opacity 0.3s ease, width 0.3s ease, transform 0.3s ease;
 transform-origin: right center;
}
.barMenu{
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: max-content;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  left: -15%;
}
.barMenu input{
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  

}
.barMenu input:checked{
  opacity: 0;
  width: 0;
}
.barMenu:has(input:checked)::before{
  width: 45px;
  transform: rotate(-45deg);
}
.barMenu:has(input:checked)::after{
  width: 45px;
  transform:  rotate(45deg);
}
#bar {
  font-size: 35px;
  margin-right: 0.5em; 
}
#inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 .dropdown{
 width: 100%;
 height: 30%;
 display: none;
 z-index: 10;
 background-color: white;
 border-bottom: 1px solid;
 position: absolute;
 box-shadow: 0 0 100px 2000px rgba(0, 0, 0, 0.301);
 animation: dropdown 0.5s ease;
}
@keyframes dropdown {
  from{
    opacity: 0;

  }to{
    opacity: 1;
  }
}

.main-menu{
 position: relative;
 display: flex;
 flex-direction: row;
 align-items: start;
 justify-content: center;
 width: 100%;
} 
.main-menu li{
  width: 100%;
 display: block;
 border-bottom: 1px solid  #c5c4c3;
}
.shoes,
.clothes,
.furniture,
.tech,
.appliance,
.on-sale,
.best-seller{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-menu i,
.main-menu p{
  padding: 0rem 0.2rem;
}
.main-menu a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: clamp(10px, 2vw, 17px);
  font-weight: bold;
  padding: 0.8em 0em;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.main-menu a:hover{
 background-color: #FF6A00;
 color:white;
}

.sub-menu{
  display: none;
  position: absolute;
  width: 15%;
}
.sub-menu a{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  text-align: center;
  margin-top: 0.1rem;
}
.sub-menu li{
  border: none;
}
.sub-menu a:hover{
  color: #FF6A00;
  background-color: white;
  animation: none;
}

nav li:hover .sub-menu{
  display: block;
}
/* RESPOSIVE */
@media (max-width: 1151px) {
  .phone-numbers{
    display: none;
  }
  .smallSearch{
    display: none;
  }
}
@media (max-width: 860px) {
 
  #menu p{
    display: none;
  }
  .barMenu{
    position: relative;
    gap: 6px;
  }
.barMenu::before,
.barMenu::after,
.barMenu input{
  width: 40px;
  height: 5px;
}
.barMenu:has(input:checked)::before{
  width: 29px;
  transform: rotate(-50deg);
}
.barMenu:has(input:checked)::after{
  width: 29px;
  transform:  rotate(50deg);
}
  .glass{
    display: block;
    position: relative;
    font-size: 30px;
  }
  .searchInput{
    display: none;
    pointer-events: none;
  }
  .search .bigSearch{
    pointer-events: none;
    display: block;
  }
  .main-menu{
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: start;
 width: 50%;
}
.main-menu li{
  border-bottom: none;
  border-right: 1px solid  #c5c4c3;
}
.sub-menu{
  left: 150%;
  top: 0;
  width: 50%;
}
.sub-menu a{
  display: flex;
  flex-direction:row;
  align-items: start;
  justify-content: start;
  text-align: center;

}
}
/* TITLE */
.title{
  margin-top: 3rem;
}
.title h3{
  font-family: 'Roboto';
  font-size: 20px;
  letter-spacing: 2px;
  color: #1A1A1A;
  }
/*======PRODUCTS=======*/

.products {
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: clamp(100px, 10vw, 330px);
  margin-bottom: clamp(50px, 5vw, 200px);
  gap:7em;
}
.productsDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 340px;
  border: 1px solid rgba(128, 128, 128, 0.096);
  background-color: white;
}
.favoriteDiv{
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;
}
.favoriteButton{
  background-color: transparent;
  border: none;
  font-size: 30px;
  color:gray;
  cursor: pointer;
}
.favoriteButton:hover{
  color: #FF6A00;
}
.salesDiv{
   width: 3rem;
  height: 3rem;
  text-wrap: wrap;
  background-color: #FF6A00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.saleMessage{
   color: white;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
}
.BestSeller{
  width: 3rem;
  height: 3rem;
  text-wrap: wrap;
  background-color: #2ec929;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.bestSellerMessage{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
}
.image{
  max-width: 100%;
  min-height: 50%;
  padding: 1rem;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.1em;
}
.qunantityColors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 1.5rem;
}
.addButton {
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.Added {
  position: absolute;
  bottom: -10%;
  color: green;
  opacity: 0;
}
.quantitySelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: rgb(211, 210, 210);
  border-width: 1px;
  border-radius: 6px;
  padding: 7px;
}
.quantityMinus {
  border: none;
  width: 25px;
  padding-right: 2px;
  padding-bottom: 2px;
  background: transparent;
  border-right: 1px solid gray;
  cursor: pointer;
}
.quantityPlus {
  border: none;
  width: 30px;
  padding-left: 2px;
  background: transparent;
  border-left: 1px solid gray;
  cursor: pointer;
}
.quantityNum {
  margin: 0px 5px;
}
.colorsContainer {
  display: flex;
  flex-direction: row;
  bottom: 5%;
  left: 45%;
}
.colorsContainer button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 1px;
  border-width: 1px;
  cursor: pointer;
}
.pricesDiv{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 2.6rem;
}
.price{
  color: #FF6A00;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
.previusPrice{
  color: #7c7c7b;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  position: relative;
}
.previusPrice:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 5%;
  background-color: #FF6A00;
  top: 45%;
  left: 0;
  transform: rotateZ(10deg);
}
.addButton{
  color: white;
  background-color: black;
  width: 100%;
  font-size: 18px;
  height: 100%;
  padding: 0.7rem;
}

/* LOADER */
.loader{
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 300px;
   gap: clamp(0rem, 8vw, 10rem);
}
.loader h1,
.loader h4{
  color: white;
  margin: 0;
  padding: 0;
}
.loader h1{
  font-size: clamp(0.5rem, 3vw, 1rem);
}
.loader h4{
  font-size: clamp(0.1rem, 3vw, 0.7rem);
}
.loader div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}
.loader-icon{
  color: white;
  font-size: clamp(0.5rem, 10vw, 4rem);
  margin-bottom: 0.5rem;
}
/* SOCIAL */
.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: WHITE;
  width: 100vw;
}
.social i{
  font-size: clamp(1rem, 3vw, 2rem);
  color: black;
  margin: clamp(0.5rem, 3vw, 2.5rem);
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.7rem;
  cursor: pointer;
}
.social i:hover{
  color: #FF6A00;
  border-color: #FF6A00;
}
/*========Footer=========*/

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #efefef;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  gap: clamp(10px, 3vw, 100px);
  text-align: center;
  margin-top: 3rem;
}
.footer-content h3{
  color: #FF6A00;
}
.footer-div ul li{
  font-size: 1rem;
  color: #4D4D4D;
  text-decoration: none;
  list-style: none;
  margin: 0.5rem;
  cursor: pointer;
}
.footer-div ul li:hover{
  color: black;
}
.footer-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-bottom img{
  width: 150px;
  height: 150px;
}
/*========Cart icon==========*/
.cart {
  position: fixed;
  bottom: 10%;
  right: 3%;
  border: 3px solid #FF6A00;
  border-radius: 50px;
  padding: 12px 6px;
  background-color: white;
  text-decoration: none;
  color: inherit;
}
.cartIcon {
  font-size: clamp(8px, 5vw, 20px);
  color: #FF6A00;
}
.cartQuantity {
  font-size: clamp(22px, 3vw, 20px);
  color: #FF6A00;
  font-weight: bold;
} 
@media (max-width: 860px) {
 .cart {
  display: none;
 }
}
